/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
*/

/******************************************
/* COLOURS
/*******************************************/

/* add a list of colours used in the project */

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
     box-sizing: border-box;
}
img {
	max-width:100%;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

/* add type styles here 
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Fjalla One', sans-serif;

*/


/******************************************
/* LAYOUT                   
/*******************************************/

.site-container {
	// max-width: 1200px;
	margin: 0 auto;
}

.head-container {
	
	height: 700px;
	// border: 1px black solid;

}
.header-nav{
	height: 60px;

}







// .how-to{
// 	// max-width: 960px;
// 	margin: auto;
// }
// .how-container{
// 	width: 33.33%;
// 	float: left; 
// 	border: 1px red solid;
// }

.site-footer {
	height:50px

}

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/

.header-nav{
	background-color: rgba(128,128,128, 0.5);
	color: white;
	text-align: left;
}

.header-nav h1{
	padding-top: 0.4em;
	width: 100px;
		font-family: 'Fjalla One', sans-serif;
		font-size: 20px;
		margin: 0px 20px;
		text-align: left;
		display: inline-block;
	// border: black 1px solid;
}
.account-nav, .search-nav {
		width: 5em;
		height: 3em;
		// background-color: white;
		display: inline-block;
		color: white;
		float: right;
		padding: 0.7em;
	}

	


.head-container{
		background:url('../images/toilets.jpg') no-repeat center center;
		filter: grayscale(100%);
		text-align: center;
		color:white;
	}

.head-container h2{
		margin-top: 6em;
		font-size: 3em;
	
	}



.button{
			display: inline-block;
			background-color: gray;
			border-radius: 10%;
			color: white;
			padding: 0.5em;
	}

h3{
	text-align: center;
	margin: 1rem auto 4rem;
}

.carousels{
	margin: 1rem auto 4rem;
}

.carousels h3{
	// margin: 1rem auto 4rem;
}

.carousels h4{
	text-align: center;
}

.carousels .stars{
	text-align: center;
	margin-bottom: 1.5em;
}

.how-to{
	background-color: gray;
	color: white;
	margin: 1rem auto 4rem;
	img{
		margin: auto;
	}
}

.nearby{
	margin: 1rem auto 4rem;
}

.site-footer{
	background-color: black;
	color:white;
}


